nav {
    background-image: url("./Banner.png");
    background-size: 100% auto;
    height: 150px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}